
  
  .partners,
  .customers-cards,
  .template-cards,
  .charts,
  .faq,
  .downbar {
    grid-column: col-start 1 / col-end 8;
  }
  
  .nav {
    grid-column: full-start/full-end;
  
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 1180px){
      margin-bottom: 1rem !important;
    }
  }
  .header__nav-logo {
    width: 9rem;
  }
  .header__nav-logo--box {
    display: flex;
    align-items: center;
  }
  .header__nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    transition: all 0.2s;
  }
  .nav-element {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem;
    transition: all 0.2s;
    display: inline-block;
  }
  .nav-element::after {
    display: block;
    content: "";
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0) translateX(-100%);
    transition: transform 250ms;
  }
  .nav-element:hover::after {
    transform: scaleX(1);
  }
  
  /* HEADER */
  .header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 1180px){
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
   }
    grid-column: col-start 1/full-end;
  }
  .header__content {
    display: grid;
    justify-items: start;
    align-items: center;
    @media only screen and (max-width: 1180px){
      justify-items: center;
    }


  }
  .header__photo {
    justify-self: end;
    margin-right: 3rem;
    @media only screen and (max-width: 1180px){
    
      justify-self: center;
      align-items: center;
      align-content: start;
   }
  }
  .header__ilustration {
    height:80%;
    @media only screen and (max-width: 1180px){
      height: 20rem;
    }
  }
  .heading-primary {
    color: var(--color-grey-dark-1);
    font-size: 5rem;
    letter-spacing: -1.1px;
    font-weight: 700;
  }
  .heading-secondary {
    color: var(--color-grey-dark-4);
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.25;
  }
  .heading-secondary span {
    display: block;
  }
  
  .btn:link,
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .btn{
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  
  .btn--blue {
    background-color: var(--color-blue);
    color: #fff;
    font-size: 1.5rem;
  }
  
  .btn--big {
    padding: 1.2rem 3rem;
  }
  
  .btn-caption {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-grey-dark-4);
  }
  // PARTNERS 
  .partners {
  }
  .section-partners__text {
    color: var(--color-orange);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .section-partners__text::after {
    margin-left: 3rem;
    content: "";
    display: inline;
    width: 6rem;
    height: 2px;
    background-color: var(--color-orange);
  }
  .section-partners__logo-box {
    display: flex;
    justify-content: space-between;
  }
  .section-partners__logo {
    width: 6rem;
  }
  
