.heading-1 {
  font-size: 4rem;
  color: var(--color-grey-dark-1);
}
.heading-2 {
  font-size: 3rem;
  color: var(--color-grey-dark-1);
}
.heading-3 {
  font-size: 3rem;
  color: var(--color-grey-dark-1);
}

.heading-4 {
  font-size: 1.75rem;
  color: var(--color-grey-dark-1);
}
